<h1>Lista de Escritores</h1>
<div class="row">
    <div class="col-4 mb-3" *ngFor="let esc of arrEscritores">
        <div class="card">
            <img class="card-img-top" [src]="esc.imagen" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{esc.nombre}} {{esc.apellidos}}</h5>
                <p class="card-text">{{esc.pais}}</p>
                <a href="#" class="btn btn-primary btn-block" [routerLink]="[esc.id, 'libros']">Detalle</a>
            </div>
        </div>
    </div>
</div>