<!--<input type="text" [(ngModel)]="valorTexto" />
<p>{{valorTexto}}</p>
<p [innerText]="valorTexto"></p>
<button (click)="pulsaBoton()">Show me!</button>-->

<div class="container">
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="persona.nombre" />
    </div>
    <div class="form-group">
        <label>Apellidos</label>
        <input type="text" class="form-control" [(ngModel)]="persona.apellidos" />
    </div>
    <div class="form-group">
        <label>Dirección</label>
        <input type="text" class="form-control" [(ngModel)]="persona.direccion" />
    </div>
    <div class="form-group">
        <label>Edad</label>
        <input type="number" class="form-control" [(ngModel)]="persona.edad" />
    </div>
    <input type="button" value="Enviar" class="btn btn-block btn-primary" (click)="enviarFormulario()" />
</div>
{{persona | json}}