<reloj-simple identificador="PRIM" segundos="35" (avisa30Segundos)="onAvisa30Segundos($event)"
    (avisaTermina)="onAvisaTermina($event)"></reloj-simple>
<reloj-simple identificador="SEGUNDO" segundos="43" (avisa30Segundos)="onAvisa30Segundos($event)"
    (avisaTermina)="onAvisaTermina($event)"></reloj-simple>
<reloj-simple identificador="TERCERO" segundos="22" (avisa30Segundos)="onAvisa30Segundos($event)"
    (avisaTermina)="onAvisaTermina($event)"></reloj-simple>

<ul>
    <li *ngFor="let mensaje of mensajes">
        {{mensaje}}
    </li>
</ul>