input.ng-valid.ng-touched {
    border: 1px solid green;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.error {
    color: red;
    font-size: 12px;
}

.tachado {
    text-decoration: line-through;
}